<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://rdsj56325f0xdcn346hn.mysql.rds.aliyuncs.com:3306/doct"/>
                <property name="username" value="doct"/>
                <property name="password" value="Yuantu123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/DoctorsMapper.xml"></mapper>
    </mappers>
</configuration>
